*{
  margine: 0;
  padding: 0;
  outline: 0;
}

body{
  font-family: 'Lora', serif;
}
ul,
ol{
    list-style: none;
}

img{
    max-width: 100;
}

.wrapper{
    width: 100;
    margin: 0 auto;
}

#head{
    background-color: #29292f;
    overflow: hidden;
    padding: 20px 10px;
}
#header{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;

}

.l_logo{
    width: 40%;
    float: left;
}

.l_logo{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    float: left;
    font-size: 24px;
    margin-top: 10px;
}


.contact{
    background: #e7e7e7;
    flex-direction: row;
    margin: 0;
    padding: 0;
}


.search {
float:right;
}

.search input[type="text"]{
    background: #1f232c;
    color: #fff;
    padding: 15px 25px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    border: 2px solid #fff;
    font-size: 12px;
    outline: none;
    width: 80%;
    height: 6px;

}

.search button{
    position: absolute;
    top:6.7%;
    transform: translateY(-50%);
    right: 25px;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
  }
.menu{
   float: left;
}
.articles nav{ 
  padding:20px;
}
.articles nav a{
  margin-right: 20px;
  color: #aaa;
  text-decoration: none;
}
.articles nav a:hover{
  color: white;
  transition: ease 0.5s;
}
.articles nav a:last-child{
  margin-right: 0;
}
.button_menu li{
  display: inline;
  margin-right: 3%;
  float: right;
}

.search-button{
  position: absolute;
  top: 6.7%;
  transform: translateY(-50%);
  height: 32px;
  width: 30px;
  color: black;
  border-radius: 20px;
  color: white;
  background: #29292f;
}

#service{
  padding: 65px 40px;
}

#service li{
  display: inline-block;
  padding-left: 20%;
  background-repeat: no-repeat;
  width: 25%;
 
}

.service h4::after{
  position: absolute;
  height: 5px;
  width: 73;
}



.service_s h4{
  padding-bottom: 30px;
  position: relative;
}



.footer_form input{
    border: none;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
}

.footer_form input[type="submit"]{

   background-color: #1f232c;
   border-radius: 5px;
   color: ;
   font-weight: bold;
}


footer{
    background-color: #1f232c;
    padding: 40px 35px;
}
.footer_text{
    color: #737373;
}

.footer_text p span{
    float: right;
}






   
