*{
  margine: 0;
  padding: 0;
  outline: 0;
}

body{
  font-family: 'Lora', serif;
}
ul,
ol{
    list-style: none;
}

img{
    max-width: 100;
}

.wrapper{
    width: 100;
    margin: 0 auto;
}

#head{
    background-color: #29292f;
    overflow: hidden;
    padding: 30px 20px;

}

.l_logo{
    width: 40%;
    float: left;
}

.l_logo{
    color: #fff;
}
.search {}

.search input[type="text"]{
    background: #1f232c;
    border: none;
    color: #fff;
    padding: 15px 25px;
    border-radius: 15px;
    position: relative;

}

.search button{
    position: absolute;
    right: 250px;
    top: 40px;
    background: #11131a;
    color: #c5c6c7;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
  
}

.footer_form input{
    border: none;
    padding: 15px 20px;
    margin: 10px;
    border-radius: 5px;
}

.footer_form input[type="submit"]{

   background-color: #1f232c;
   border-radius: 5px;
}


footer{
    background-color: #1f232c;
    padding: 40px 35px;
}
.footer_text{
    color: #737373;
}

.footer_text p span{
    float: right;
}

